@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetSoLive</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login-register.css" />
    @RenderSection("HeadSection", required: false)
</head>
<body style="background: none;">
    <div class="login-register-bg">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html> 