@model IEnumerable<PetSoLive.Core.Entities.Assistance>
@{
    ViewData["Title"] = "Assistance Requests";
}

<div class="container">
    <h2>Assistance Requests</h2>
    <ul class="list-group">
        @foreach (var assistance in Model)
        {
            <li class="list-group-item">
                <h5>@assistance.Title</h5>
                <p>@assistance.Description</p>
            </li>
        }
    </ul>
</div>